---
component: Progress tracker
analytics:
  pageCategory: component
  component: progress-tracker
design: https://design.atlassian.com/latest/product/patterns/progress-tracker/
status:
  api: general
  wrm: com.atlassian.auiplugin:aui-progress-tracker
  experimentalSince: 5.0
  generalSince: 5.8
---

<h2>Summary</h2>

<p>A progress tracker guides users through a number of steps across multiple screens in order to complete a task
    flow. It shows users where they are in the process, and also offers navigation within the process.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<h3>Default</h3>
<aui-docs-example live-demo id="default-progress-tracker-example">
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-progress-tracker">
            <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
            <li class="aui-progress-tracker-step  aui-progress-tracker-step-current" style="width:25%"><span>Select plugins</span>
            </li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Invite users</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
        </ol>
    </noscript>
</aui-docs-example>

<h4>Link</h4>
<aui-docs-example live-demo id="link-progress-tracker-example">
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-progress-tracker">
            <li class="aui-progress-tracker-step" style="width:25%"><a href="#">Configure instance</a></li>
            <li class="aui-progress-tracker-step  aui-progress-tracker-step-current" style="width:25%"><a href="#">Select plugins</a>
            </li>
            <li class="aui-progress-tracker-step" style="width:25%"><a href="#">Invite users</a></li>
            <li class="aui-progress-tracker-step" style="width:25%"><a href="#">Confirm</a></li>
        </ol>
    </noscript>
</aui-docs-example>

<h3>Inverted</h3>
<aui-docs-example live-demo id="inverted-progress-tracker-example">
    <noscript is="aui-docs-code" type="text/css">
        .inverted-progress-tracker-example {
            background: #f5f5f5;
            padding: 10px 0;
        }
    </noscript>
    <noscript is="aui-docs-code" type="text/html">
        <div class="inverted-progress-tracker-example">
            <ol class="aui-progress-tracker aui-progress-tracker-inverted">
                <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
                <li class="aui-progress-tracker-step" style="width:25%"><span>Select plugins</span></li>
                <li class="aui-progress-tracker-step aui-progress-tracker-step-current" style="width:25%"><span>Invite users</span></li>
                <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
            </ol>
        </div>
    </noscript>
</aui-docs-example>

<h3>First step marked as current</h3>
<p>You should not create a Progress Tracker without a step marked as current.</p>
<aui-docs-example live-demo id="firststep-progress-tracker-example">
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-progress-tracker">
            <li class="aui-progress-tracker-step aui-progress-tracker-step-current" style="width:25%"><span>Configure instance</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Select plugins</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Invite users</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
        </ol>
    </noscript>
</aui-docs-example>

<h3>Last step marked as current</h3>
<aui-docs-example live-demo id="laststep-progress-tracker-example">
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-progress-tracker">
            <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Select plugins</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Invite users</span></li>
            <li class="aui-progress-tracker-step aui-progress-tracker-step-current" style="width:25%"><span>Confirm</span></li>
        </ol>
    </noscript>
</aui-docs-example>

<h2>Code</h2>
<h3>Soy</h3>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.progressTracker.progressTracker}
    {param steps: [
        [
            'text': 'Step 1',
            'href': '#step1'
        ],
        [
            'text': 'Step 2',
            'href': '#step2',
            'isCurrent': true
        ],
        [
            'text': 'Step 3',
            'href': '#step3'
        ],
        [
            'text': 'Step 4',
            'href': '#step4'
        ],
        [
            'text': 'Step 5',
            'href': '#step5'
        ]
        ] /}
    {/call}
</noscript>

<h2>Options</h2>

<p>Soy is available</p>
<noscript is="aui-docs-code" type="text/handlebars">
    /**
    * Progress Tracker
    * @param steps list of the steps to display
    * @param? isInverted boolean - set to true if using on a grey background
    * @param? id
    * @param? extraClasses
    * @param? extraAttributes
    */

    /**
    * Step in the Progress Tracker
    * @param? isCurrent boolean - set to true if step is the current step
    * @param width number - should be the exact same width as all the other steps to maintain correct visual formatting (can't do this in CSS due to CSS not knowing the number of steps)
    * @param text
    * @param? href
    * @param? id
    * @param? extraClasses
    * @param? extraAttributes
    **/
</noscript>
