---
component: Soy
analytics:
  pageCategory: component
  component: soy
status:
  api: experimental
  core: false
  wrm: com.atlassian.auiplugin:aui-experimental-soy-templates
  amd: false
  experimentalSince: 4.2
---

<h2>Summary</h2>

<p>Soy templates, aka. Google Closure templates, allow devs to use the same template on both in the client and on
    the server.</p>

<h2>Status</h2>
{{> status }}

<h2>Options</h2>

<p>AUI is rolling out Soy templates for core components.</p>

<p>In future we hope to offer extracted soydoc and live coding tools, but in the meantime the most popular way to
    explore the Soy is to read the templates themselves. The templates are commented with usage recommendations; see
    /auiplugin/src/main/resources/soy/atlassian and test page is
    http://localhost:9999/ajs/plugins/servlet/ajstest/test-pages/soy/soy-test.html in your refapp.</p><h4>
    Conventions</h4>

<p>The AUI Soy templates have been built with some common conventions:</p>

<ul>
    <li>All should accept id, class, attr, tagName options</li>
    <li>class and attr will accept a string/array/object as appropriate</li>
    <li>"content" always means HTML</li>
</ul>

<h2>References</h2>

<ul>
    <li>
        <a href="https://developers.google.com/closure/templates/docs/overview" target="_blank">
            https://developers.google.com/closure/templates/docs/overview
        </a>
    </li>
</ul>
